@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.dialogbutton-box{
    text-align: center;
}
.bluebtn{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-right: 10px;
    padding: 0 12px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    -ms-border-radius: 5px!important;
    -o-border-radius: 5px!important;
    color: #fff;
    background: #4DA1FF;
    border: none;
    cursor: pointer;
}
.whitebtn{
    display: inline-block;
    vertical-align: middle;
    height:26px!important;
    line-height: 26px;
    font-size: 13px;
    background: #fff;
    border:1px solid #e0e2e5!important;
    border-radius:4px;
    color: #252D3A;
    padding:0 8px;
    box-sizing: border-box;
    margin-right: 10px;
    cursor:pointer; 
}
.whitebtn img{
    vertical-align: -2px;
    margin-right: 6px;
}
.required{
    color: red;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
input,button,textarea,select{
    outline:none 
}

////弹窗去掉多余边框
//.el-dialog__body{
//  padding: 0!important;
//}
.el-form-item__label {
  font-size: 13px!important;
}

/*滚动条样式*/
::-webkit-scrollbar {/*滚动条整体样式*/
  width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 5px rgba(60, 60, 77, 0.1);
  background: rgba(60, 60, 77, 0.1);
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.6);
  border-radius: 0;
  background: rgba(255,255,255,0);
}
